<!doctype html>
<html lang="en">

<%- include('../partials/head') %> 

<body>

    <%- include('../partials/header') %>

<main>
  <div class="contenedorGeneralMaim">

    <section>
      <div class="contenedorSectionCompuesto">
        <div class="contenedorSectionSimple">
          <div class="contenedorSectionTítulo">
            <h2>BIENVENIDOS A NUESTRA PLATAFORMA DE EDUCACIÓN BURSÁTIL</h2>
          </div>
          <div class="contenedorSectionInfo">
            <p>Desbloquea el inmenso potencial del mercado de divisas y lleva tus inversiones al siguiente nivel con nuestro programa educativo de élite. Adquiere habilidades especializadas en operaciones bursátiles y domina el mundo del trading. Nuestro enfoque estratégico te da una ventaja competitiva para aprovechar las oportunidades y lograr tu independencia financiera. ¡Da el salto y conviértete en un exitoso operador de mercado en el Foreign Exchange!</p>
          </div>
        </div>
        <div class="contenedorSectionBotón">
            <a href="/users/register">SESIÓN GRATIS</a>
        </div>
      </div>
    </section>

    <section>
      <div class="contenedorSectionCompuesto">
        <div class="contenedorSectionSimple">
          <div class="contenedorSectionTítulo">
            <h2>SERVICIOS</h2>
          </div>
          <div class="contenedorSectionInfo">
            <p>Ofrecemos una gama de servicios diseñados para impulsarte hacia el éxito en el mercado de forex. Desde clases en vivo con especialistas certificados hasta material educativo de alta calidad y análisis de mercado en tiempo real, estamos aquí para apoyarte en cada paso de tu viaje de inversión.</p>
            <ul>
              <li>Clases en vivo con especialistas certificados</li>
              <li>Material educativo de calidad</li>
              <li>Análisis de mercado actualizado y en vivo</li>
              <li>Asesoría personalizada</li>
            </ul>
          </div>
        </div>
        <div class="contenedorSectionBotón">
            <a href="/users/register">SESIÓN GRATIS</a>
        </div>
      </div>
    </section>

    <section>
      <div class="contenedorSectionCompuesto">
        <div class="contenedorSectionSimple">
          <div class="contenedorSectionTítulo">
            <h2>NUESTRO PROPÓSITO</h2>
          </div>
          <div class="contenedorSectionInfo">
            <p>En Bolito FX, nuestra misión es proporcionar educación de alta calidad en inversiones bursátiles y ayudarte a alcanzar la independencia financiera en el mercado forex. Nuestros programas integrales te proporcionan los conocimientos sólidos, el análisis de mercado actualizado y la asesoría personalizada que necesitas para maximizar tu potencial inversor. Con la experiencia y el enfoque estratégico de nuestra empresa líder en el sector, estás en las mejores manos.</p>
            <p>Bolívar Alvarado, fundador y director de Bolito FX, es un experto reconocido con años de experiencia en inversiones bursátiles. Su trayectoria destacada se basa en estrategias probadas y su profundo conocimiento del mercado forex. Aprovecha su liderazgo visionario y obtén una ventaja competitiva para alcanzar tus objetivos financieros. Descubre la excelencia de la mano de nuestro talentoso líder.</p>
          </div>
        </div>
        <div class="contenedorSectionBotón">
            <a href="/users/register">SESIÓN GRATIS</a>
        </div>
      </div>
    </section>

    <section>
      <div class="contenedorSectionCompuesto">
        <div class="contenedorSectionSimple">
          <div class="contenedorSectionTítulo">
            <h2>TESTIMONIOS</h2>
          </div>
          <div class="contenedorSectionInfo">
            <div>
             <img src="client1.jpg" alt="Cliente 1">
              <p>"Gracias a los conocimientos adquiridos, he obtenido grandes ganancias en el mercado forex. ¡Recomiendo este servicio a todos los interesados en invertir!"</p>
              <p>- Cliente 1</p>
            </div>
            <div>
              <img src="client2.jpg" alt="Cliente 2">
              <p>"Nunca había entendido el mercado forex hasta que me uní a esta plataforma. Ahora me siento seguro al tomar decisiones de inversión y he mejorado mis resultados significativamente."</p>
              <p>- Cliente 2</p>
            </div>
          </div>
        </div>
        <div class="contenedorSectionBotón">
            <a href="/users/register">SESIÓN GRATIS</a>
        </div>
      </div>
    </section>

    <section>
      <div class="contenedorSectionCompuesto">
        <div class="contenedorSectionSimple">
          <div class="contenedorSectionTítulo">
            <h2>CONTACTO</h2>
          </div>
          <div class="contenedorSectionInfo">
            <p>Si tienes alguna pregunta o estás interesado en nuestros servicios, no dudes en ponerte en contacto con nosotros. Nuestro equipo de expertos está listo para proporcionarte una SESIÓN GRATIS y ayudarte a dar el primer paso hacia el éxito en el mercado forex.</p>
          </div>
        </div>
        <div class="contenedorSectionBotón">
            <a href="/users/register">SESIÓN GRATIS</a>
        </div>
      </div>
    </section>
  
    </div>
</main>

<div>
  <!-- Footer -->
  <%- include('../partials/footer') %> 
  <!-- Footer -->
</div>

</body>
</html>
