<!doctype html>
<html lang="en">

<%- include('../partials/head') %> 

<body>

    <%- include('../partials/header') %>

<main>
  <div class="contenedorGeneralMaim">

    <section>
      <div class="contenedorSectionCompuesto">
        <div class="contenedorSectionSimple">
          <div class="contenedorSectionTítulo">
            <h2>Bienvenido a nuestra plataforma de educación en inversiones bursátiles</h2>
          </div>
          <div class="contenedorSectionInfo">
            <p>Descubre el vasto potencial del mercado de foreign exchange y maximiza tus inversiones con nuestro programa educativo de élite.
               Obtén conocimientos especializados en operaciones bursátiles y conquista el mundo del trading.
              Nuestro enfoque estratégico te brinda una ventaja competitiva para capitalizar oportunidades y alcanzar tu independencia financiera.
              ¡Atrévete a ser un operador de mercado bursátil de éxito en el Foreign Exchange!</p>
          </div>
          <div class="contenedorSectionBotón">
            <a href="/users/register">Asesoría gratuita</a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="contenedorSectionCompuesto">
        <div class="contenedorSectionSimple">
          <div class="contenedorSectionTítulo">
            <h2>Servicios</h2>
          </div>
          <div class="contenedorSectionInfo">
            <p>Ofrecemos una variedad de servicios para ayudarte en tu camino hacia el éxito en el mercado de forex:</p>
            <ul>
              <li>Clases en vivo con especialistas certificados</li>
              <li>Material educativo de calidad</li>
              <li>Análisis de mercado actualizado y en vivo</li>
              <li>Asesoría personalizada</li>
            </ul>
          </div>
          <div class="contenedorSectionBotón">
            <a href="/users/register">Asesoría gratuita</a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="contenedorSectionCompuesto">
        <div class="contenedorSectionSimple">
          <div class="contenedorSectionTítulo">
            <h2>Nuestro Propósito</h2>
          </div>
          <div class="contenedorSectionInfo">
            <p>En Bolito FX, nos apasiona brindar educación en inversiones bursátiles y ayudar a alcanzar la independencia financiera en el mercado forex. Nuestros programas integrales ofrecen conocimientos sólidos, análisis de mercado actualizado y asesoría personalizada. Maximiza tu potencial inversor con la experiencia y enfoque estratégico de nuestra empresa líder en el sector.</p>
            <p>Bolívar Alvarado, fundador y director de Bolito FX, es un experto reconocido con años de experiencia en inversiones bursátiles. Su trayectoria destacada se basa en estrategias probadas y su profundo conocimiento del mercado forex. Aprovecha su liderazgo visionario y obtén una ventaja competitiva para alcanzar tus objetivos financieros. Descubre la excelencia de la mano de nuestro talentoso líder.</p>
          </div>
          <div class="contenedorSectionBotón">
            <a href="/users/register">Asesoría gratuita</a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="contenedorSectionCompuesto">
        <div class="contenedorSectionSimple">
          <div class="contenedorSectionTítulo">
            <h2>Testimonios</h2>
          </div>
          <div class="contenedorSectionInfo">
            <div>
             <img src="client1.jpg" alt="Cliente 1">
              <p>"Gracias a los conocimientos adquiridos, he obtenido grandes ganancias en el mercado forex. ¡Recomiendo este servicio a todos los interesados en invertir!"</p>
              <p>- Cliente 1</p>
            </div>
            <div>
              <img src="client2.jpg" alt="Cliente 2">
              <p>"Nunca había entendido el mercado forex hasta que me uní a esta plataforma. Ahora me siento seguro al tomar decisiones de inversión y he mejorado mis resultados significativamente."</p>
              <p>- Cliente 2</p>
            </div>
          </div>
          <div class="contenedorSectionBotón">
            <a href="/users/register">Asesoría gratuita</a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="contenedorSectionCompuesto">
        <div class="contenedorSectionSimple">
          <div class="contenedorSectionTítulo">
            <h2>Contacto</h2>
          </div>
          <div class="contenedorSectionInfo">
            <p>Si estás interesado en nuestros servicios o tienes alguna pregunta, agenda una cita para obtener una asesoría gratuita con nuestros agentes:</p>
          </div>
          <div class="contenedorSectionBotón">
            <a href="/users/register">Asesoría gratuita</a>
          </div>
        </div>
      </div>
    </section>
  
    </div>
</main>

<div>
  <!-- Footer -->
  <%- include('../partials/footer') %> 
  <!-- Footer -->
</div>

</body>
</html>
