<!doctype html>
<html lang="en">

<%- include('../partials/head') %> 

<body>

    <%- include('../partials/header') %>

<main>

  <section id="inicio">
    <div class="container">
      <h2>Bienvenido a nuestra plataforma de educación en inversiones bursátiles</h2>
      <p>Aprende a operar en el mercado de foreign exchange y maximiza tus oportunidades de inversión.</p>
      <a href="/users/register" class="btn">¡Contáctanos!</a>
    </div>
  </section>

  <section id="servicios">
    <div class="container">
      <h2>Servicios</h2>
      <p>Ofrecemos una variedad de servicios para ayudarte en tu camino hacia el éxito en el mercado de forex:</p>
      <ul>
        <li>Clases en vivo con expertos</li>
        <li>Material educativo de calidad</li>
        <li>Análisis de mercado actualizado</li>
        <li>Asesoría personalizada</li>
      </ul>
      <a href="/users/register" class="btn">¡Quiero aprender más!</a>
    </div>
  </section>

  <section id="proposito">
    <div class="container">
      <h2>Nuestro Propósito</h2>
      <p>En Nombre de la Empresa, nos apasiona brindar educación en inversiones bursátiles y ayudar a las personas a alcanzar su independencia financiera en el mercado forex. Nuestro fundador, [Nombre del Dueño], es un experto reconocido con años de experiencia en el campo.</p>
      <a href="/users/register" class="btn">¡Contáctanos ahora!</a>
    </div>
  </section>

  <section id="testimonios">
    <div class="container">
      <h2>Testimonios</h2>
      <div class="testimonial">
        <img src="client1.jpg" alt="Cliente 1">
        <p>"Gracias a los conocimientos adquiridos, he obtenido grandes ganancias en el mercado forex. ¡Recomiendo este servicio a todos los interesados en invertir!"</p>
        <p class="client-name">- Cliente 1</p>
      </div>
      <div class="testimonial">
        <img src="client2.jpg" alt="Cliente 2">
        <p>"Nunca había entendido el mercado forex hasta que me uní a esta plataforma. Ahora me siento seguro al tomar decisiones de inversión y he mejorado mis resultados significativamente."</p>
        <p class="client-name">- Cliente 2</p>
      </div>
      <a href="/users/register" class="btn">¡Contáctanos para obtener resultados similares!</a>
    </div>
  </section>

  <section id="contacto">
    <div class="container">
      <h2>Contacto</h2>
      <p>Si estás interesado en nuestros servicios o tienes alguna pregunta, no dudes en contactarnos:</p>
      <a href="/users/register" class="btn">¡Contáctanos!</a>
    </div>
  </section>

</main>

<div class="container">
  <!-- Footer -->
  <%- include('../partials/footer') %> 
  <!-- Footer -->
</div>

</body>
</html>