<footer>
    <div class="contenedorGeneralFooter">
        <section>
                <div class="contenedorInfoFooter">
                        <div class="contenedorInfoContactoFooter">
                            <div class="contenedorInfoContactoFooterMargenEscritura">
                                <p id="subtítuloDatosContacto">Dirección: <span id="textoDatosContacto">Guayaquil, Ecuador.</span></p>
                                <p id="subtítuloDatosContacto">eMail: <span id="textoDatosContacto">info@bolitofx.com</span></p>
                                <p id="subtítuloDatosContacto">Número: <span id="textoDatosContacto">(+593) 11-7223-4885</span></p>
                                <p id="subtítuloDatosContacto">Lunes a viernes: <span id="textoDatosContacto">10AM - 17PM</span></p>
                            </div>
                        </div>
                        <div class="contenedorRRSSFooter">
                            <a id="ig" href="#!"><i class="fab fa-instagram"></i></a>
                            <a id="tw" href="#!"><i class="fab fa-twitter"></i></a>
                            <a id="fb" href="#!"><i class="fab fa-facebook"></i></a>
                        </div>
                </div>
            </section>
        <div class="contenedorLegalesFooter">
            <div class="contenedorLegalesFooterMargenEscritura">
                <p class="rights">Derechos de autor &copy; 2023 Bolito FX. Todos los derechos reservados.</p>
                <p class="terms">Términos y condiciones | Política de privacidad</p>
            </div>
        </div>
    </div>

</footer>
