<footer>
    <div>
        <section>
            <div>
                <div>
                    <picture>
                        <img src="" width="150px" alt="logo">
                    </picture>
                </div>
                <div>
                    <h6>Contacto</h6>
                    <p>Quito, Ecuador.</p>
                    <p>info@bolitofx.com</p>
                    <p>(+593) 11-7223-4885</p>
                    <p>Lunes a viernes: 10AM - 17PM</p>
                </div>
                <div>
                    <h6>Redes Sociales</h6>
                    <a href="#!"><i>Instagram</i></a>
                    <a href="#!"><i>Twitter</i></a>
                    <a href="#!"><i>Facebook</i></a>
                </div>
            </div>
        </section>
    </div>
    <div>
        <p class="rights">Derechos de autor &copy; 2023 Bolito FX. Todos los derechos reservados.</p>
        <p class="terms">Términos y condiciones | Política de privacidad</p>
    </div>
</footer>
