<header>

    <div class="contenedorGeneralHeader">
        <div class="contenedorLogo">
            <a href="/">
            <img id="logoHeader" src="/img/logo.svg" alt="Logo">
            </a>
        </div>
    </div>

    </header>