    <header>

    <div class="contenedorGeneralHeader">
        <div class="contenedorLogo">
            <a href="/">
            <img id="logoHeader" src="ruta_del_logo" alt="Logo">
            </a>
        </div>
    </div>

    </header>

